.web-time-timer {
  position: fixed;
  top: 0px;
  right: 0px;
  background-color: #17171780;
  color: #f7f7f7 !important;

  font-family: Arial, sans-serif;
  font-size: clamp(0.75rem, 0.625vw, 1.5rem); /* ~12px on a 1080p */;
  padding: 0.25rem;   /* ~4px */;
  border-radius: 0.25rem;   /* ~4px */;
  z-index: 1000002; /* Above overlay (1000000) and popup (1000001) */
  border: 1px solid grey;
  line-height: 1; /* Adjust this value as needed */
  transition: opacity 0.2s ease;
  cursor: default;
  /* backdrop-filter: blur(0px); */
  /* -webkit-backdrop-filter: blur(0px); For Safari */
}

.web-time-timer:hover {
  opacity: 0.25;
}



