:root {
  /* --dark-bg: #1f252e; */
  --dark-bg: #222222;
  --header-text-color: #eeeeff;
}

body {
  width: 400px;
  height: 500px;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 15px;
  
  background-color: var(--dark-bg); 
  backdrop-filter: blur(8px);              /* Blur effect */
  -webkit-backdrop-filter: blur(8px);      /* For Safari */
}

h1 {
  color: var(--header-text-color);
  text-align: center;
  margin-bottom: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#chart-container {
  background-color: var(--dark-bg);
  border-radius: 8px;
  padding: 15px;
}